akka {
  actor {
    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
    serializers {
      wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
    }
    serialization-bindings {
      "System.Object" = wire
    }
  }

  remote {
    log-remote-lifecycle-events = DEBUG
    helios.tcp {
      hostname = "127.0.0.1"
      port = 2551
    }
  }
  
  cluster {
    seed-nodes = [ "akka.tcp://ActorSystem1@127.0.0.1:2551" ]
    auto-down-unreachable-after = 30s
  }
}